@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: "Roboto Light";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
}
html {
  overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: rgba(251, 251, 251, 1);
  font-family: Roboto Light;
  width: 100%;
}
#direct-sub-body {
  min-height: 92%;
}
#message-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}
#message-overlay #message-overlay-sub {
  height: 60vh;
  width: 50%;
  background: #fff;
  margin: 13vh auto 0;
  border-radius: 4px;
  overflow: auto;
  overflow-y: hidden;
  padding: 2%;
}
#message-overlay .exit-image {
  float: right;
  margin: -2%;
  box-shadow: 0 0 1px 1px #ddd;
  cursor: pointer;
  width: 18px;
}
#message-overlay .exit-image:active {
  box-shadow: none;
}
.message-overlay {
  width: 25%;
  min-height: 20vh;
  padding-bottom: 2%;
  top: 40vh;
  margin-left: 37.5%;
  background: #fff;
  z-index: 1000;
  position: fixed;
  border-radius: 6px;
  display: none;
}
#interaction-blocker {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.message-overlay-active {
  display: block;
}
.message-overlay .exit-image {
  width: 20px;
  float: right;
  cursor: pointer;
  opacity: 0.6;
  margin: 5%;
}
.message-overlay .exit-image:hover {
  opacity: 1;
}
.message-overlay #message-body {
  width: 70%;
  text-align: center;
  margin: 15% auto 0;
  font-size: 13px;
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: bolder;
  color: #555;
}
.message-overlay #input {
  width: 80%;
  text-align: center;
  margin: 10% auto 0;
  display: none;
}
.message-overlay #input input:first-of-type {
  border: none;
  outline: none;
  border-bottom: 1px solid #ffb618;
  color: #333;
  width: 65%;
  display: inline-block;
}
.message-overlay #input button:first-of-type {
  margin-left: 5%;
  border: none;
  outline: none;
  font-size: 13px;
  padding: 1%;
  width: 25%;
  border-radius: 4px;
  color: white;
  background-color: #ff5a34;
  cursor: pointer;
  display: inline;
}
.message-overlay #input button:first-of-type:hover {
  background-color: #ff7a54;
}
.message-overlay #input button:first-of-type:active {
  padding: 0.8%;
  width: 27%;
}
.message-overlay #message-response {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  display: none;
}
#button-one,
#button-two {
  border: none;
  outline: none;
  background: #ff5a34;
  color: #fff;
  padding: 1%;
  font-size: 14px;
  width: 20%;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
#button-one {
  float: left;
}
#button-two {
  float: right;
}
#button-one:hover,
#button-two:hover {
  background: #ff7a54;
}
#button-one:active,
#button-two:active {
  transition: width 2s linear;
  background: #ff5a34;
}
#message-body .message-topic {
  font-size: 24px;
  color: #444;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  text-align: center;
  margin: 2% 0 0;
}
#message-body .select-batch {
  display: block;
  margin: 3.2% auto 0;
  padding: 1.2%;
  min-width: 20%;
  font-size: 16px;
  color: white;
  background: #ff5a34;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 5px 2.5px #ddd;
  text-transform: uppercase;
  cursor: pointer;
}
#message-body .select-batch:active {
  box-shadow: none;
}
#message-body .prompt-yes-no-button {
  display: inline-block;
  margin: 10% 0 0 20%;
  padding: 1%;
  min-width: 20%;
  font-size: 14px;
  color: white;
  background: rgba(255, 90, 52, 0.8);
  border: none;
  outline: none;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
}
#message-body .prompt-yes-no-button:hover {
  background: #ff5a34;
}
#sub-body {
  position: relative;
  height: 100%;
}
#sub-body .cart-toggler {
  box-shadow: 1px 1px 3px 3px #eee;
  display: none;
  position: fixed;
  right: 0;
  padding: 4px;
  z-index: 4;
  background: #fff;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
}
.cart-toggler img:first-of-type {
  width: 20px;
  height: 20px;
}
.images-slide-bar {
  width: 45%;
  margin-top: 3%;
  margin-left: 27.5%;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.images-hold-slide {
  display: inline;
  white-space: nowrap;
  word-spacing: 0;
  padding: 0;
  font-size: 0;
  margin: 0;
}
.images-hold-slide img {
  width: 100%;
  margin-bottom: -2%;
}
.images-slide-bar #slide-text {
  color: white;
  z-index: 4;
  width: 100%;
  font-size: 20px;
  margin-bottom: 2%;
}
.images-slide-bar #slide-text div:first-child {
  width: 70%;
  display: inline-block;
}
#images-slide-bar-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.3;
  z-index: 3;
  display: none;
}
#image-slide-states-bar {
  bottom: 0;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}
#image-slide-states-bar .image-slide-state {
  border: 1.5px dashed #fff;
  border-radius: 100px;
  background: none;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 1% 0;
  margin-bottom: 2%;
  opacity: 0.8;
}
#image-slide-states-bar .image-slide-state:nth-child(2) {
  background-color: #fff;
  opacity: 1;
}
#orders-bar {
  width: 22%;
  box-sizing: border-box;
  position: absolute;
  right: 1%;
  top: 8px;
  min-height: 500px;
  max-height: 600px;
  box-shadow: -0.5px 0.5px 2px 2px #eee;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
}
#orders-bar h3 {
  margin-left: 3%;
  margin-bottom: 0;
  font-size: 18px;
  color: #ffb618;
  border-bottom: 2px solid #ff5a34;
  display: inline-block;
}
#orders-bar #orders-buttons {
  display: inline-block;
  background: #f0f0f0;
  border-left: none;
  border-right: none;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 4% 0;
}
#orders-bar > #orders-buttons > img {
  width: 18px;
  height: 18px;
  padding: 1% 6% 0%;
  cursor: pointer;
}
#orders-bar > #orders {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
#orders-bar > #orders > .batch > h4 {
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 0;
  font-size: 14px;
  color: #ffb618;
  border: none;
  outline: none;
  border-bottom: 1px solid #ff5a34;
  display: inline-block;
  min-width: 6%;
  opacity: 0.8;
  font-weight: lighter;
  white-space: pre;
}
#orders-bar > #orders > .batch > div:first-of-type {
  width: 100%;
  height: 125px;
  overflow-y: visible;
  overflow-x: hidden;
}
#orders-bar > #orders .batch .order-elements {
  padding: 2%;
  background: #efefef;
  opacity: 1;
  margin-top: 3%;
  margin-bottom: 3%;
}
.order-elements span {
  font-size: 13px;
  color: grey;
}
.order-elements span span {
  font-size: 13px;
  color: #ff5a34;
}
.order-elements input {
  float: right;
  border: none;
  outline: none;
  width: 40px;
  color: grey;
  background: inherit;
  cursor: pointer;
}
#price-and-checkout {
  display: block;
  background: #ff5a34;
  border-top: 2px dashed black;
  padding: 2%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
#price-and-checkout #total-label {
  color: #555;
}
#price-and-checkout #total-value {
  color: white;
  font-size: 16px;
}
#price-and-checkout .checkout-button {
  float: right;
  color: #555;
  font-weight: bold;
  background: #ffb618;
  border: none;
  outline: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 1.5%;
  min-width: 30%;
  margin-right: 2%;
  cursor: pointer;
  border-radius: 4px;
}
#hr-after-image-slide {
  border: 2px dashed #bbb;
  margin-top: 3%;
  display: none;
}
#order-by-kitchen {
  width: 80%;
  margin-left: 10%;
}
#order-by-kitchen-header {
  font-size: 22px;
  margin-left: 0;
  margin-top: 5%;
  color: #777;
}
#order-by-kitchen-header span {
  border: none;
  border-bottom: 1px solid #ff5a34;
  padding-bottom: 4px;
}
.selection-and-adjustment-bar {
  width: 81%;
  background-color: #ff5a34;
  margin: 3% 0 0 0;
}
.kitchen-body-select {
  margin-top: 2%;
  margin-left: 2%;
  background: #fff;
  color: #6a6a6a;
  cursor: pointer;
  list-style: none;
  display: inline-block;
  padding-left: 0;
  position: relative;
  user-select: none;
  width: 170px;
  text-align: center;
}
.kitchen-body-select > ul {
  overflow-x: hidden;
}
.kitchen-body-select li {
  font-size: 14px;
  padding: 8px 4px 8px 3px;
  width: 100%;
}
.kitchen-body-select li:hover {
  background: #e7e7e7;
  color: #5c5c5c;
}
.kitchen-body-select li:first-of-type {
  display: inline-block;
  width: auto;
}
.kitchen-body-select-list {
  padding: 0;
  margin-top: 5px;
  position: absolute;
  list-style: none;
  background: inherit;
  overflow-y: hidden;
  max-height: 0px;
  width: 100%;
  text-align: justify;
  transition: max-height 0.2s linear;
  -moz-transition: max-height 0.2s linear;
  -webkit-transition: max-height 0.2s linear;
  -o-transition: max-height 0.2s linear;
  -ms-transition: max-height 0.2s linear;
}
.kitchen-body-select-list li:first-of-type {
  width: 100%;
  display: block;
}
.kitchen-body-select-list-height-transitor {
  padding-left: 0px;
  box-shadow: 0px 0px 2px 1px #ddd;
  max-height: 200px;
  transition: max-height 0.2s linear;
  -moz-transition: max-height 0.2s linear;
  -webkit-transition: max-height 0.2s linear;
  -o-transition: max-height 0.2s linear;
  -ms-transition: max-height 0.2s linear;
}
.arrow {
  content: "";
  height: 0;
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 2px 4px 4px 2px;
  border-style: solid;
  border-color: #777;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: transform 0.2s linear;
}
.li-arrow-up {
  margin-bottom: -2px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: transform 0.2s;
}
#loading-wrapper {
  position: fixed;
  z-index: 99;
  background: #333;
  top: 46%;
  left: 46%;
  padding: 25px 20px 20px 10px;
  border-radius: 4px;
}
.loading-circle {
  display: none;
  background: white;
  border-radius: 50%;
  padding: 5px;
  vertical-align: middle;
  margin-top: -5px;
  margin-left: 10px;
}
.loading-circle-1 {
  display: inline-block;
}
.loading-circle > div {
  padding: 9px;
  background: #ff5a34;
  border-radius: 50%;
  position: relative;
  animation-name: rotate-loader;
  animation-duration: 1.8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.45, 0.15, 0.15, 0.45);
}
.loading-circle > div > div {
  padding: 4px;
  background: #ffb618;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  margin-left: -4px;
}
@keyframes rotate-loader {
  0% {
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#order-by-kitchen-body {
  width: 78%;
  margin: 0;
}
.kitchens-body {
  width: 100%;
}
.kitchens-body > p:first-of-type {
  font-size: 13px;
  text-align: center;
  margin: 2% auto 0;
  width: 15%;
  color: #555;
  position: relative;
  width: fit-content;
}
.kitchens-body > p:first-of-type::before {
  content: "";
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: -4px;
  border: 1px solid #ff5a34;
}
.kitchens-head {
  text-align: left;
  padding-left: 3%;
}
.kitchens-head > h2:first-of-type {
  font-weight: normal;
  font-size: 13px;
  margin-top: 0;
  color: white;
  text-decoration-color: #ff5a34;
  background: #ffb618;
  display: inline-block;
  padding: 1%;
  border-radius: 0 0 3px 3px;
  text-transform: uppercase;
  word-spacing: 5px;
}
.kitchens-body > .product-bar {
  background-color: #fff;
  box-shadow: 0px 0px 2px 2px #eee;
  margin-top: 50px;
  border-radius: 5px;
  position: relative;
}
.product-bar > h3 {
  padding: 5px;
  color: #ffb618;
  font-size: 14px;
  margin-bottom: 0;
}
.product-bar > p:nth-of-type(1) {
  margin-top: 0.15%;
  margin-bottom: 0;
  font-size: 13px;
  color: #777;
  padding: 5px;
}
.product-bar > p:nth-of-type(2) {
  margin-top: 0.15%;
  display: inline-block;
  font-size: 13px;
  color: #555;
  padding: 5px;
  margin-bottom: 0;
  opacity: 0.6;
}
.kitchens-body > .product-bar > .buttons-bar {
  display: inline-block;
  width: 20%;
  position: absolute;
  right: 4px;
  bottom: 4px;
  text-align: right;
}
.kitchens-body > .product-bar > .buttons-bar > .add-to-order-button {
  background: #ff5a34;
  color: white;
  font-size: 13px;
  border: none;
  outline: none;
  padding: 5px;
  width: fit-content;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.9;
  transition: background;
  transition-duration: 1s;
}
.kitchens-body > .product-bar > .buttons-bar > .add-to-order-button:hover {
  background: #ffb618;
}
@media screen and (max-width: 1110px) {
  #orders-bar {
    min-height: 400px;
    max-height: 500px;
  }
  #orders-bar > #orders {
    max-height: 280px;
  }
}
@media screen and (max-width: 910px) {
  #orders-bar {
    min-height: 350px;
    max-height: 450px;
    width: 23%;
  }
  #orders-bar > #orders {
    max-height: 230px;
  }
  #price-and-checkout {
    height: 6%;
  }
}
@media screen and (max-width: 872px) {
  #orders-bar {
    min-height: 350px;
    max-height: 400px;
  }
  #orders-bar > #orders {
    max-height: 250px;
  }
  #orders-buttons > img {
    padding: 1% 2% 0;
    max-width: 12px;
    max-height: 12px;
  }
  #orders-bar > #orders > .batch > h4 {
    font-size: 12px;
  }
  .order-elements span,
  .order-elements span span {
    font-size: 10px;
  }
  .order-elements input {
    font-size: 10px;
    width: 20%;
    margin-top: 4%;
  }
  #price-and-checkout #total-label {
    font-size: 12px;
  }
  #price-and-checkout #total-value {
    font-size: 11px;
  }
  #price-and-checkout .checkout-button {
    font-size: 9px;
    min-width: 15%;
    padding: 1%;
    margin-right: 0;
    margin-top: 1.5%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  .kitchen-body-select li {
    font-size: 13px;
  }
  #orders-bar h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  #orders-bar {
    min-height: 280px;
    max-height: 290px;
  }
  #orders-bar > #orders {
    max-height: 190px;
  }
  #order-by-kitchen-header {
    font-size: 14px;
  }
  #price-and-checkout .checkout-button {
    font-size: 7px;
    margin-top: 2.5%;
  }
  .selection-and-adjustment-bar {
    background: none;
  }
  .kitchens-head {
    margin-top: -0.2%;
    text-align: center;
  }
  .kitchens-head > h2:first-of-type {
    font-size: 11px;
  }
  .kitchen-body-select {
    display: block;
    margin: 0 auto;
    z-index: 2;
    background: #f8e8e5;
  }
  .kitchens-body > p:first-of-type {
    font-size: 11px;
  }
  .kitchens-body > .product-bar {
    box-shadow: none;
    border: none;
    border-top: 1px solid #ffb618;
    border-bottom: 1px solid #ffb618;
  }
  .kitchen-body-select li {
    font-size: 12px;
  }
  #orders-bar h3 {
    font-size: 14px;
  }
  .kitchens-body > .product-bar {
    margin-top: 15px;
  }
  .product-bar > h3 {
    font-size: 12px;
  }
  .product-bar > p:nth-of-type(1) > p:first-of-type {
    font-size: 11px;
    margin: 1%;
  }
  .product-bar > p:nth-of-type(2) {
    font-size: 11px;
  }
  .kitchens-body > .product-bar > .buttons-bar > .add-to-order-button {
    font-size: 10px;
  }
}
@media screen and (max-width: 502px) {
  #orders-bar {
    top: 7vh;
    left: 105%;
    right: 5%;
    z-index: 3;
    width: 90%;
    min-height: 80vh;
    max-height: 80vh;
    transition:left 1s linear  ;
    -webkit-transition:left 1s linear  ;
    -moz-transition:left 1s linear  ;
    -ms-transition:left 1s linear  ;
    -o-transition:left 1s linear  ;
}
  #orders-bar h3 {
    font-size: 16px;
  }
  #orders-buttons > img {
    padding: 1% 2% 0;
    max-width: 15px;
    max-height: 15px;
  }
  .order-elements input {
    margin-top: 0.5%;
    font-size: 11px;
  }
  #orders-bar > #orders > .batch > h4 {
    font-size: 13px;
  }
  .order-elements span,
  .order-elements span span {
    font-size: 11px;
  }
  #sub-body .cart-toggler {
    display: inline-block;
  }
  .images-slide-bar {
    width: 90%;
    margin-left: 5%;
  }
  #orders-bar > #orders {
    position: relative;
    max-height: 500px;
  }
  #order-by-kitchen-body {
    width: 95%;
    margin: 0 auto;
  }
  #price-and-checkout {
    height: 3%;
  }
  #price-and-checkout #total-label {
    font-size: 16px;
  }
  #price-and-checkout #total-value {
    font-size: 14px;
  }
  #price-and-checkout .checkout-button {
    font-size: 12px;
    min-width: 15%;
    padding: 1%;
    margin-right: 0;
    margin-top: -0.5%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .selection-and-adjustment-bar {
    background: none;
    margin: 0 auto;
  }
  .kitchens-head {
    display: none;
  }
  .kitchen-body-select {
    display: block;
    margin: 10% auto 0;
    z-index: 2;
    background: #ffb618;
    color: #fff;
  }
  .arrow {
    border-color: #ff5a34;
  }
  .kitchen-body-select-list-height-transitor {
    box-shadow: none;
  }
  .kitchen-body-select li:hover {
    background-color: #fff;
  }
  .kitchens-body > .product-bar {
    width: 80%;
    margin: 0 auto;
    border: none;
    box-shadow: 1px 1px 3px 3px #eee;
  }
  .kitchens-body > .product-bar > .buttons-bar > .add-to-order-button {
    font-size: 8px;
    white-space: nowrap;
  }
  .kitchen-body-select li {
    font-size: 11px;
  }
  .kitchens-body > .product-bar {
    margin-top: 25px;
  }
}
@media screen and (max-height: 800px) {
  #orders-bar > #orders {
    max-height: 475px;
  }
}
@media screen and (max-height: 750px) {
  #orders-bar > #orders {
    max-height: 440px;
  }
}
@media screen and (max-height: 700px) {
  #orders-bar > #orders {
    max-height: 400px;
  }
}
@media screen and (max-height: 650px) {
  #orders-bar > #orders {
    max-height: 360px;
  }
}
@media screen and (max-height: 600px) {
  #orders-bar > #orders {
    max-height: 320px;
  }
}
@media screen and (max-height: 550px) {
  #orders-bar > #orders {
    max-height: 280px;
  }
}
@media screen and (max-height: 500px) {
  #orders-bar > #orders {
    max-height: 240px;
  }
}
